<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Latest</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
        <link rel="stylesheet"
              href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <div th:each="code : ${codes}">
            <span th:text="${code.date}">
            </span>
            <div>
                <pre>
                    <code th:text="${code.code}"></code>
                </pre>
            </div>
        </div>
    </body>
</html>